<h1>Home Page</h1>

<p>Enter a number:</p>

<form action="/form_render" method="post">

	<input type="text" name="some_data">
	<br>
	<input type="submit" value="Submit" class="btn-primary">

</form>

<p>Current session data: <%= session[:some_data] %></p>