<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack Ruby</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
           <span class="brand" href="/">Blackjack Ruby</span>
            <% if user_logged_in? %>
            <ul class="nav pull-right">
              <li><a href="/">New Game</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            <% else %>
            <ul class="nav pull-right">
              <li><a href="https://github.com/mjhea0/blackjack-sinatra">Fork on Github</a></li>
            </ul>
            <% end %>
        </div>
      </div>
    </div>
  <div class="container">
    <br/>
    <%if @alert_message %>
      <h4><div class="alert <%= @alert_type %>" ><%= @alert_message %></div></h4>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
