<h2>Welcome to Blackjack</h2>

<p>Please register to play.</p>

<form action="/new_user" method="post">
  <fieldset>
    <label>Name:</label>
    <input type="text" name="username" placeholder="Your name...">
    <br>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
</form>