body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.navbar {
	margin-bottom: 20px;
}

.cards .card {	
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px;
	margin: 0 10px 10px 0;
	width: 90px; height: 135px;
	-webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f5f5f5;
}
.dealer-cards .card:first-child {
}
.dealer-cards .card:first-child img {
}
.game-over {
	display: none;
}